<div class="home">
  <h1><%=@gossip.title%></h1>
  <p class="author">Publié par <%=@gossip.user.name%> le <%=@gossip.created_at.strftime("%m/%d/%Y")%></p>
  <p class="content"><%=@gossip.content%></p>
  <img src="https://placeimg.com/500/300/any" alt="https://placeimg.com/500/300/any">
</div>
