<h1>GOSSIPS</h1>

<div class="album-cards">
  <% @gossips.each do |gossip| %>
    <div class="card">
      <h3><%= gossip.title %></h3>
      <p>Publié par <%= gossip.user.name %></p>
      <%= link_to "voir", "/gossip/#{gossip.id}" %>
    </div>
  <% end %>
</div>
